* {
  box-sizing: border-box;
}

html,body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body > fieldset:first-child {
  margin-top: 2px;
}

.flex-row {
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.allow-wrap {
  flex-wrap: wrap;
}

.standard-row {
  display: block;
  height: 24px;
  line-height: 24px;
  margin: 0 0 2px 0;
  padding: 0;
  border-width: 0;
  text-align: center;
  text-overflow: ellipsis;
}

.action-button {
  width: 20em;
}

.dice-key {
  background-color: darkviolet;
  color: white;
  padding: 0 3px;
  width: 2em;
}
.menu-label {
  background-color: olivedrab;
  width: 10em;
  padding: 0 8px;
}
.effect-key {
  padding: 0 3px;
  background-color: deeppink;
  color: white;
  width: 10em;
}
.simple-cause-key {
  padding: 0 3px;
  background-color: darkorange;
  width: 2em;
}
.complex-cause-key {
  padding: 0 3px;
  background-color: dodgerblue;
  width: 2em;
}
.causality-key {
  padding: 0 3px;
  background-color: aqua;
  width: 2em;
}
.menu-remove-button {
  background-color: crimson;
  width: 2em;
  font-weight: bolder;
  color: whitesmoke;
}
.menu-remove-button:hover {
  background-color: brown;
}
.menu-remove-button:disabled {
  background-color: gray;
}
.variable-key {
  padding: 0 3px;
  background-color: darkblue;
  color: white;
  width: 10em;
}
.variable-input {
  font-weight: bolder;
  width: 5em;
  text-align: center;
  color: black;
  border-color: darkblue;
  border-width: 4px;
}

.input-error {
  color: darkred;
  border-color: darkred;
}

.flash {
  animation: flasher .25s ease-in-out 6;
}
@keyframes flasher {
  50% {
    filter: invert(100%);
  }
}

.dice-weight {
  height: 24px;
  line-height: 24px;
  background-color: coral;
  margin: 0 5px 5px 5px;
}
.dice-label, .dice-weight-input {
  display: block;
  margin: 0 0 2px 0;
  border: 0;
  text-align: left;
  background-color: coral;
  padding: 0 5px;
}
.dice-label {
  width: 1em;
}
.dice-weight-input {
  width: 3em;
  height: 100%; ;
}

#table-dice-list {
  margin-right: 12px;
}
.table-rollable-dice {
  height: 24px;
  line-height: 24px;
  margin: 0 0 2px 0;
}
.table-dice-value {
  font-weight: bolder;
  width: 2em;
  text-align: center;
  color: black;
  border-color: goldenrod;
  border-width: 4px;
}

/*TODO(THALES) adicionar máximo de linhas na paleta e ativar scroll se necessário*/
