#toast {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  bottom: 20%;
  z-index: 1000;
  background-color: lightcoral;
  width: 30em;
  margin-left: -15em;
  border-radius: 10px;
  opacity: 0;
}
#toast-label {
  display: block;
  margin: .5em 0;
}

.appear {
  animation: appearer 1.5s linear 1;
}
@keyframes appearer {
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
}
